{{!-- 
  This is the base layout template used by all pages.
  It loads global styling, provides a navigation bar,
  and injects each page's unique content inside {{{body}}}.
--}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Landing Page</a>
        {{#if user}}
          <a href="/user/{{user.username}}">Profile</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/public/js/main.js"></script>

  </body>
</html>
