{{!-- Simple search prompt --}}
  <section>
    <h2>Start Searching for Fountains</h2>
    <form id="landing-search-form" action="/search" method="GET">
      <div class="form-group">
        <label for="searchQuery">Search by name, park, or area:</label>
        <input
          type="text"
          name="q"
          id="searchQuery"
          placeholder="e.g., Central Park, Brooklyn, playground"
        />
      </div>

      <button type="submit">Search Fountains</button>
    </form>

{{!MAP IMPLEMENTATION GOES HERE}}

    
  </section>