{{!-- Simple search prompt --}}
  <section>
    <h2>Start Searching for Fountains</h2>
    <form id="landing-search-form" action="/search" method="POST">
      <div class="form-group">
        <label for="searchQuery">Search by borough:</label>
        <input
          type="text"
          name="q"
          id="searchQuery"
          placeholder="Bronx, Brooklyn, Manhatten, Staten Island, Queens"
          {{!In DB Brooklyn;  Manhattan; Queens; = Staten Island; Bronx}}
        />
      </div>

      <button type="submit">Search Fountains</button>
    </form>
  </section>