{{!-- Simple search prompt --}}
  <section>
    <h2>Start Searching for Fountains</h2>
    <form id="landing-search-form" action="/search" method="POST">
      <div class="form-group">
        <label for="searchQuery">Search by borough:</label>
        <input
          type="text"
          name="q"
          id="searchQuery"
          placeholder="Bronx, Brooklyn, Manhatten, Staten Island, Queens"
          {{!In DB Brooklyn;  Manhattan; Queens; = Staten Island; Bronx}}
        />
      </div>

      {{!Filter part}}
        {{!Park}}
        <div class = "filter-form">
            <label for = "park"> Park name (optional):</label>
                <input
                    type="text"
                    name="park"
                    id="park"
                    placeholder="Park Name"
                />
        </div>
        {{!Rating}}
        <div class = "filter-form">
            <label for = "rating">Rating Greater Than (optional)</label>
            <select>
                <option value = "Select">Select Rating</option>
                <option value = "1">1</option>
                <option value = "2">2</option>
                <option value = "3">3</option>
                <option value = "4">4</option>
                <option value = "5">5</option>
            </select>
        </div>
      <button type="submit">Search Fountains</button>
    </form>
  </section>