{{!
Page for listing fountains 
}}
  <section>
    <p>
    <a href="/search">Search Again?</a>
    </p>

    <h2>Results for {{borough}}:</h2>
    <ol>
    {{#each fountainBoroughs}}
      <div class="Results">
            <li>
                <a href="/fountain/{{_id}}">
                {{park}} fountain
                </a>
            </li>
    {{/each}}
    </ol>
    </div>
      
  </section>